// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

$icons: ("1": "#6bce6b",
         "2": "#ecd635",
         "3": "#f7b844",
         "4": "#f08a38",
         "5": "#f03838",
         "6": "#f038a3",
         "7": "#cb38f0",
         "8": "#6038f0",
         "9": "#3863f0",
         "10": "#08a8cf",);

@each $name, $color in $icons {
    .subject-color-#{$name} {
        background-color: #{$color};
        color:#fafafa;
    }
}

.caravel-alert.alert-container {
    position: fixed;
    top:30px;
    right: 30px; 
    z-index: 10;
}

.avatar-xs {
    font-size: .8rem;
    width: 24px;
    height: 24px;
}

.dropdown-item-xs {
    font-size: .8rem;
}

.tasks-list {
    li {
        width:100%;
        display:inline-block;
        padding: 10px;
        border: 1px solid #acacc561;
        border-radius: 5px;
        margin-bottom: 15px;
    }
}

.title-days {
    width: 100%; 
    border-bottom: 1px solid #e0e0e0; 
    line-height: 0.1em;
    margin: 10px 0 20px; 
    font-weight: 300;
    color: #717871;

    span { 
        background:#fff; 
        padding:0 10px; 
    }
}

.comment-wrapper {
    border-radius: 5px;
    border: 1px solid #d2d2d2;

    .comment-display {
        padding: 15px;
        background-color: #fff;
    }

    .comment-header {
        padding: 10px;
        background-color: #6772e50d;
        border-bottom: 1px solid #d6d6d6;
    }
}

.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: pointer;

    .overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        overflow: hidden;
        top: 0;
        left: 0;
        }

    img {
    position: relative;
    -webkit-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
    }

    &:hover img {
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0" /><feGaussianBlur stdDeviation="3" /></filter></svg>#filter');
    filter: grayscale(1) blur(3px);
    -webkit-filter: grayscale(1) blur(3px);
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    }

    &:hover h2 {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    }

    h2 {
    text-transform: uppercase;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.6);
    -webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
    -webkit-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
    opacity: 0;
    filter: alpha(opacity=0);
    color: #fff;
    text-transform: uppercase;
    }
}
 
#createGroupCard {
    border-bottom: 1px dashed #c1c1c1;
}

.width-250{
    width: 250px;
}

#user-picture {
    cursor: pointer;
}

.navbar.fixed-left {
    .group-title a {
        max-width: 75%;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

//We should use bootstrap var instead
@media (max-width: 768px) { 
    .smartmd .smartmd__toolbar {
        overflow-x: scroll;
    }
}

.group-card-fluid{
    width: 50%;

    @media (max-width: 768px){
        width: 100%;
    }
}

#groupsContainer{
    overflow: scroll;
}