name: Continus Delivery

on: 
  push:
    branches:
      - master

jobs:
  deliver-main:
    runs-on: self-hosted
    env:
      path: /var/www/app/

    steps:
      - name: stop server during deployment
        run: sudo sv stop nginx

      - name: checkout main branch
        uses: actions/checkout@v2
        #with:
          #ref: develop
          #in case we want to deploy a certain branch (ex : serve main and develop at different points)
          
      - name: copy repo at good place
        run: |
          rsync --recursive . ${{ env.path }}
          cd ${{ env.path }}
          sudo chmod -R a+rw public/

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '7.4'
          
      - name: Install composer Dependencies
        run: sudo composer install -q --no-interaction --no-scripts --no-progress --prefer-dist
        working-directory: ${{ env.path }}

      - name: Install NPM Dependencies
        run: |
          sudo npm install --production --unsafe-perm=true --allow-root
          sudo npm run prod
        working-directory: ${{ env.path }}

      - name: restart server :-)
        run: sudo sv restart nginx